engine-strict = true
auto-install-peers = true
strict-peer-dependencies = false
public-hoist-pattern[] = *react*
public-hoist-pattern[] = *@emotion*
public-hoist-pattern[] = *@chakra-ui*
public-hoist-pattern[] = *csstype*